# Hello, this a test of sampling with foccus in data analysis.

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
dataset.head().T

                       0             1  ...             3             4
i#clientid      1.000000      2.000000  ...      4.000000      5.000000
income      66155.925095  34415.153966  ...  42709.534201  66952.688845
age            59.017015     48.117153  ...     45.751972     18.584336
loan         8106.532131   6564.745018  ...   6103.642260   8770.099235
c#default       0.000000      0.000000  ...      0.000000      1.000000

[5 rows x 5 columns]

In [ ]:
df = pd.DataFrame(dataset[['i#clientid', 'income', 'loan']])
df.head(5).T

                       0             1  ...             3             4
i#clientid      1.000000      2.000000  ...      4.000000      5.000000
income      66155.925095  34415.153966  ...  42709.534201  66952.688845
loan         8106.532131   6564.745018  ...   6103.642260   8770.099235

[3 rows x 5 columns]

In [ ]:
dataset = pd.read_csv('credit_data.csv')

In [ ]:
def sample_random_simple(dataset, sample):
  sample_result = dataset.sample(n=sample, random_state=1)
  return sample_result

In [ ]:
df_srs = sample_random_simple(dataset, 1000)
df_srs['age'].mean()

40.49552561124429

In [ ]:
def systematic_Sampling(dataset, sample):
  value = []
  interval = len(dataset)//sample 
  random_Sample = random.seed(1)
  first = random.randint(0, interval)
  index = np.arange(first, len(dataset), step=interval)
  df_syst_sa = dataset.iloc[index]
  return df_syst_sa

In [ ]:
 interval = systematic_Sampling(dataset, 1000)
 interval.loan.mean()

4506.787976426329

In [ ]:
def cluster_sampling(dataset, sample):
  group = []
  group_id = 0 
  count = 0 
  interval = dataset / sample
  random.seed(1)
  for _ in dataset.iterrows():
    count += 1 
    group.append(group_id)
    if cont > interval:
      count = 0 
      group_id = 1
      dataset['group'] = group
      selected_group = random.randint(0, number_group)
  return dataset[dataset['group']== selected_group]

In [ ]:
def stratified_Sampling(dataset, percent):
  split  = StratifiedShuffleSplit(test_size=percent, random_state=1)
  for _, y in split.split(dataset, dataset['c#default']):
    df_y =dataset.iloc[y]
  return df_y

In [ ]:
def reservatory_sampling(dataset, sample):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)
        
    i = 0 
    size = len(dataset)
    reservatory = [0] * sample
    for p in range(sample):
        reservatory[p] = stream[i]
    while i < size:
        j = random.randrange(i + 1)
        if j < sample:
            reservatory[j] =stream[i]
            i+=1
            return dataset.iloc[reservatory]

df_reservatory_sampling = reservatory_sampling(dataset, 1000)
print(df_reservatory_sampling.shape)

In [ ]:
def sampling_reservatory(dataset, sample):
  stream = []
  for i in range(len(dataset)):
    stream.append(i)
  i = 0
  size = len(dataset)

  reservatory = [0] * sample
  for i in range(amostras):
    reservatory[i] = stream[i]

  while i < tamanho:
    j = random.randrange(i + 1)
    if j < sample:
      reservatory[j] = stream[i]
    i += 1

  return dataset.iloc[reservatory]